<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Page</title>
</head>
<body>

    <header id="header"></header>

    <main>
       <header>
           <h1>First Post</h1>
       </header>

        <aside>
            <p>Eunah</p>
            <p><a href="mailto:rladmsdkz@gmail.com">rladmsdkz@mail.com</a></p>
            <p><time datetime="2022-01-01T00:00:00">2022-01-01</time></p>
            <p>#java</p>
        </aside>

        <section>
            <p>Main Content<br><br></p>

            <div>
                <form>
                    <label for="postComment" hidden>Comment</label>
                    <textarea id="postComment" placeholder="Write Comment.." rows="3"></textarea>
                    <button type="submit">Upload</button>
                </form>

                <ul>
                    <li>
                        <div>
                            <time><small>2022-01-01</small></time>
                            <strong>Eunah</strong>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                Lorem ipsum dolor sit amet
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2022-01-01</small></time>
                            <strong>Eunah</strong>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                                Lorem ipsum dolor sit amet
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <nav>
                <a href="#">Previous Post</a>
                <a href="#">Next Post</a>
            </nav>
        </section>

    </main>

    <footer id="footer"></footer>
</body>
</html>
